@use "../base";
@use "../utils";

// ============
// CONTACT-VIEW
// ============

.contact-view__container {
    max-width: 633.6px;
    width: 633.6px;
    border: {
        top: 1px solid base.$cool-grey-20;
        left: 1px solid base.$cool-grey-20;
        right: 1px solid base.$cool-grey-20;
    };
    background-color: #FFFFFF;
    @include utils.atMediumDevices {
        margin-left: 0;
    }
    @include utils.atSmallDevices {
        top: 64px; // * Height of header
        transition: all 0.4s linear;
        opacity: 1;
        position: absolute;
        left: 0;
        right: 0;
        z-index: base.$z-index-1--followUpVisibility;
        width: 100%;
        border: none;
        @include base.mobile-padding-preset;
    }
}

.contact-view__container.hidden {
    @include utils.atSmallDevices {
        display: block !important;
        position: fixed;
        transform: translateX(999px);
        opacity: 1;
        pointer-events: none;
    }
}

.contact-view__container h2 {
    text-align: center;
    margin-top: base.$mobile-space-lv-1;
    margin-bottom: base.$mobile-space-lv-2;
}

.contact-view__email-container,
.contact-view__phone-container {
    display: block;
    margin-bottom: calc(#{base.$mobile-space-lv-1} * 2);
}

.contact-view__email-label,
.contact-view__email-input,
.contact-view__phone-label,
.contact-view__phone-input {
    display: flex;
    align-items: center;
    padding: base.$desktop-base-font-size base.$mobile-space-lv-1;
}

.contact-view__email-input {
    overflow-wrap: anywhere;
}

.contact-view__email-label--icon,
.contact-view__email-label--label,
.contact-view__phone-label--icon,
.contact-view__phone-label--label {
    display: inline-block;
}

.contact-view__email-label--icon,
.contact-view__phone-label--icon {
    position: relative;
    width: 22px;
    height: 22px;
    margin-right: base.$mobile-space-lv-quarter;
}

.contact-view__view__phone-input--text,
.contact-view__email-input--text {
    // * Hotfix: to align with relative element
    padding-left: 34px;
}