@use "../base";
@use "../utils";

// ======
// HEADER
// ======

.logo__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background: rgb(204, 247, 255);
  background: linear-gradient(90deg, base.$sky-blue-10 0%, base.$sky-blue-05 100%);
  max-width: utils.$MAX-WIDTH;
  @include base.tablet-padding-preset;
  @include utils.atSmallDevices {
    @include base.mobile-padding-preset;
  }
}

.logo__header h1,
.logo__header h3 {
  display: inline-block;
  color: base.$text-color;
}

.logo-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-edit,
.fa-address-book,
.fa-plus {
  margin-right: base.$desktop-space-lv-quarter;
  @include utils.atSmallDevices {
    margin-right: base.$mobile-space-lv-quarter;
  }
}

.fa-address-book::before {
  font-size: 26px;
  color: base.$text-color;
  @include utils.atSmallDevices {
    font-size: 18px;
  }
}

.fa-edit::before,
.fa-plus::before {
  font-size: 18px;
  color: base.$text-color;
  @include utils.atSmallDevices {
    font-size: 14px;
  }
}
