@use "../base";
@use "../utils";

// ====
// TABS
// ====

.tabs-container {
  display: flex;
  flex-direction: row;
  margin: {
    top: base.$desktop-space-lv-1;
    bottom: base.$desktop-space-lv-1;
  }
  @include base.tablet-margin-preset;
  @include utils.atSmallDevices {
    margin-top: base.$mobile-space-lv-1;
    margin-bottom: base.$mobile-space-lv-1;
    @include base.mobile-margin-preset;
  }
}

.tabs-option {
  display: inline-block;
  width: 130px;
  height: 57px;
  color: base.$cool-grey-60;
  text-align: center;
  cursor: pointer;
  margin-right: base.$desktop-space-lv-half;
  @include utils.atSmallDevices {
    margin-right: base.$mobile-space-lv-half;
  }
}

.tabs-option__inner-wrapper {
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: {
    top: base.$desktop-base-font-size;
    bottom: base.$desktop-base-font-size;
  }
  @include utils.atSmallDevices {
    padding: {
      top: base.$mobile-base-font-size;
      bottom: base.$mobile-base-font-size;
    }
  }
}

.selected {
  color: base.$text-color !important;
}

.fa-star {
  margin-right: base.$desktop-space-lv-quarter;
  @include utils.atSmallDevices {
    margin-right: base.$mobile-space-lv-quarter;
  }
}

.fas.fa-star::before {
  font-size: 20px;
  @include utils.atSmallDevices {
    font-size: 18px;
  }
}


// ============
// # ANIMATIONS
// ============
.selected .tabs-option__inner-wrapper:hover::before {
  left: 0px;
  right: 0px;
}

.selected .tabs-option__inner-wrapper::before {
  background-color: base.$text-color;
  bottom: 0px;
  content: "";
  height: 4px;
  left: 18px;
  position: absolute;
  right: 18px;
  transition: left 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s,
    right 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s,
    width 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s;
}

.tabs-option:not(.selected):hover {
  background: base.$cool-grey-10;
}
