* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button {
    width: auto;
    overflow: visible;
    border: none;
    background: transparent;
}

.hidden {
    display: none !important;
}